.Home{
    color: white;
    background-image: url('homebg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    padding-top: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.bar>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding-right: 10px;
    width:  900px;
    height: 10vh;
    margin: 50px;
    margin-left: 170px;
    margin-top: 10px;
}
.home-content>h1{
    font-family: marcellus;
    font-weight: 600;
    font-size: 100px;
    line-height: 160px;
}
.home-content{
    margin-top: 100px;
    text-align: center;
}
h3,h1{
    font-family: marcellus,cursive;
    font-weight: 400;
    font-size:  50px;
    line-height: 60px;
}
p{
    font-family: lato,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
}
.trainings{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.Offer{
    margin-top: 100px;
    background-color: #FFA500;
    height: 150vh;
}
.offercon1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.offercon{
    width: 300px;
    margin-left: 100px;
}
.col-offer>.card>img{
    margin: 20px;
    margin-left: 40px;
}















.foot{
    margin-top: 200px;
    background-image: url('Skillbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.foot-head{
    margin-left: 500px;
    color: white;
}
.foot-content{
    display: flex;
    color: white;
    color: black;
}
.foot-content1-1{
    margin-top: 100px;
    height: 50vh;
    width: 400px;
    border-right: 1px solid #606060;
    padding-left: 80px;
    
}
.foot-content1-2{
    margin-top: 100px;
    width: 400px;
    height: 50vh;
    padding-left: 50px;
}
.foot-content1-3{
    margin-top: 100px;
    width: 400px;
    height: 50vh;
}
.foot-content1-3>a{
    text-decoration: none;
    color: black;
    
}

.foot-content1-4{
    margin-top: 100px;
    width: 400px;
    height: 50vh;
}
.foot-icon>a{
    background-color:#606060;
    height: auto;
    padding: 8px;
    padding-top: 15px;  
}
.foot-icon>a:hover{
    background-color: #E7272D;
}